.Button
  display: inline-block
  background: #22c568
  padding: 8px 16px
  border-radius: 4px
  cursor: pointer
  font-size: 14px
  outline: none
  user-select: none

.Button:hover
  background: #20b35f

.Button:active
  background: #20a85a

.Button-secondary
  background: none

.Button-secondary:hover
  background: rgba(0, 0, 0, 0.1)

.Button-secondary:active
  background: rgba(0, 0, 0, 0.15)