.EmbedEditor .Embed-thumbnail, .EmbedEditor .Embed-media
  display: flex
  width: 32px
  height: 28px
  color: rgba(255, 255, 255, 0.33)
  align-items: center
  justify-content: center

.EmbedEditor .Embed-thumbnail svg, .EmbedEditor .Embed-media svg
  display: block
  width: 24px
  height: 24px

.EmbedEditor .Embed-thumbnail:hover svg, .EmbedEditor .Embed-media:hover svg
  color: rgba(255, 255, 255, 0.5)

.EmbedEditor-field-actions a
  color: rgba(255, 255, 255, 0.33)
  font-size: 12px

.EmbedEditor-placeholder
  pointer-events: none
  display: inline-block
  width: 0
  max-width: 100%
  white-space: nowrap
  user-select: none
  color: rgba(255, 255, 255, 0.33)