.EmbedEditor .Embed-media img, .EmbedEditor .Embed-media .EmbedEditor-imageDarken
  max-width: 400px
  max-height: 300px
  border-radius: 4px

.EmbedEditor .Embed-thumbnail img, .EmbedEditor .Embed-thumbnail .EmbedEditor-imageDarken
  max-width: 80px
  max-height: 80px
  border-radius: 4px

.EmbedEditor-imageContainer
  display: flex
  align-items: flex-start

.EmbedEditor-image
  position: relative
  min-width: 32px
  min-height: 32px
  cursor: pointer

.EmbedEditor-addImage
  color: rgba(255, 255, 255, 0.33) !important

.EmbedEditor-addImage svg
  display: block
  width: 24px
  height: 24px

.EmbedEditor-addImage:hover svg, .EmbedEditor-field-actions button:hover
  color: rgba(255, 255, 255, 0.5)

.EmbedEditor-image:hover .EmbedEditor-imageDarken
  content: ''
  position: absolute
  left: 0
  top: 0
  bottom: 0
  right: 0
  background: rgba(0, 0, 0, 0.2)
  pointer-events: none

.EmbedEditor-removeImage
  position: absolute
  right: 8px
  top: 8px
  width: 24px
  height: 24px
  display: none
  pointer-events: none

.EmbedEditor-image:hover .EmbedEditor-removeImage
  display: block

.EmbedEditor-field-actions button
  display: inline
  background: none
  border: none
  outline: none
  padding: 0
  margin: 0
  color: rgba(255, 255, 255, 0.33)
  font-size: 12px
  text-decoration: underline
  cursor: pointer

.EmbedEditor-placeholder
  pointer-events: none
  display: inline-block
  width: 0
  max-width: 100%
  white-space: nowrap
  user-select: none
  color: rgba(255, 255, 255, 0.33)

.EmbedEditor .Embed-field
  display: grid
  grid-template-columns: 1fr auto

.EmbedEditor .Embed-field-name
  grid-column: 1/1

.EmbedEditor .Embed-field-value
  grid-column: 1/3

.EmbedEditor-field-remove
  grid-column: 2/2
  grid-row: 1/1
  color: rgba(255, 255, 255, 0.33)
  cursor: pointer
  align-self: center
  padding: 2px
  border-radius: 100%

.EmbedEditor-field-remove:hover
  background: rgba(255, 255, 255, 0.1)
