.EmbedEditor .Embed-thumbnail, .EmbedEditor .Embed-media
  display: flex
  width: 32px
  height: 28px
  color: rgba(255, 255, 255, 0.33)
  align-items: center
  justify-content: center

.EmbedEditor .Embed-thumbnail svg, .EmbedEditor .Embed-media svg
  display: block
  width: 24px
  height: 24px

.EmbedEditor .Embed-thumbnail:hover svg, .EmbedEditor .Embed-media:hover svg, .EmbedEditor-field-actions button:hover
  color: rgba(255, 255, 255, 0.5)

.EmbedEditor-field-actions button
  display: inline
  background: none
  border: none
  outline: none
  padding: 0
  margin: 0
  color: rgba(255, 255, 255, 0.33)
  font-size: 12px
  text-decoration: underline
  cursor: pointer

.EmbedEditor-placeholder
  pointer-events: none
  display: inline-block
  width: 0
  max-width: 100%
  white-space: nowrap
  user-select: none
  color: rgba(255, 255, 255, 0.33)

.EmbedEditor .Embed-field
  display: grid
  grid-template-columns: 1fr auto

.EmbedEditor .Embed-field-name
  grid-column: 1/1

.EmbedEditor .Embed-field-value
  grid-column: 1/3

.EmbedEditor-field-remove
  grid-column: 2/2
  grid-row: 1/1
  color: rgba(255, 255, 255, 0.33)
  cursor: pointer
  align-self: center
  padding: 2px
  border-radius: 100%

.EmbedEditor-field-remove:hover
  background: rgba(255, 255, 255, 0.1)