.AdminMain
  width: 1300px
  background: #4E4E4E
  border: 1px solid #707070
  margin: 65px auto
  border-radius: 8px
  display: flex
  text-align: left
  --admin-accent: rgba(34, 216, 112, 1)
  --admin-accent-20percent: rgba(34, 216, 112, 0.2)

.AdminMain-sidebar
  width: 350px
  flex-shrink: 0
  background: #414141
  border-right: 1px solid #707070
  border-radius: 8px 0 0 8px
  padding-bottom: 4px

.AdminName-sidebar-server
  position: relative
  background: #3B3B3B
  border-radius: 8px 0 0 0
  margin-bottom: 4px
  cursor: pointer
  outline: none

.AdminName-sidebar-mobileClose
  display: none

.AdminName-sidebar-server:hover
  background: #3A3A3A

.AdminMain-sidebar > nav ul
  list-style-type: none
  padding: 0
  margin: 0

.AdminMain-sidebar > nav ul a, .AdminName-sidebar-server
  display: flex
  color: #fff
  text-decoration: none
  font-size: 16px
  align-items: center
  padding: 8px 28px
  font-weight: bold

.AdminMain-sidebar > nav ul a .Icon, .AdminName-sidebar-server .Icon
  width: 32px
  height: 32px
  margin-right: 16px

.AdminMain-sidebar > nav ul a.active
  color: var(--admin-accent)
  background: var(--admin-accent-20percent)

.AdminName-sidebar-server-list
  position: absolute
  top: 100%
  left: 8px
  right: 8px
  background: #2C2C2C
  list-style-type: none
  padding: 4px 0
  margin: 0
  border-radius: 8px
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5)
  max-height: 300px
  overflow-y: auto
  z-index: 10000

.AdminName-sidebar-server-list a
  display: flex
  padding: 8px 20px
  align-items: center
  color: white
  text-decoration: none

.AdminName-sidebar-server-list a:hover
  background: rgba(0, 0, 0, 0.1)

.AdminMain-bottomtext
  font-weight: bold
  font-size: 16px
  color: rgba(255, 255, 255, 0.62)

.AdminName-sidebar-server
  padding: 16px 28px
  font-size: 20px

.AdminName-sidebar-server .Icon
  background: #000
  border-radius: 16px

.AdminName-sidebar-server-expand
  margin: 0 0 0 auto

.AdminMain-content
  flex-grow: 1


.AdminPage
  margin: 32px 48px 42px 48px

.AdminPage-Title
  display: flex
  align-items: center
  margin: 0 0 48px 0
  padding: 0
  color: var(--admin-accent)
  font-size: 32px

.AdminPage-Title .Icon
  width: 64px
  height: 64px
  margin-right: 32px

.AdminMain-unsavedPopup-container
  position: fixed
  left: 0
  right: 0
  bottom: 0
  height: 150px
  overflow: hidden
  pointer-events: none

.AdminMain-unsavedPopup
  align-items: center
  display: flex
  position: absolute
  left: 0
  right: 0
  bottom: -80px
  margin: 0 auto
  width: 1000px
  background: #4E4E4E
  border: 1px solid #707070
  border-radius: 4px
  padding: 8px
  box-sizing: border-box
  text-align: left
  pointer-events: auto
  transition: bottom 0.5s cubic-bezier(0.36, 0, 0.66, -0.56)

.AdminMain-unsavedPopup-container-visible .AdminMain-unsavedPopup
  bottom: 40px
  transition: bottom 0.5s cubic-bezier(0.34, 1.56, 0.64, 1)

.AdminMain-unsavedPopupText
  flex-grow: 1
  margin: 0 12px

.AdminMain-unsavedPopup > .Button
  margin-left: 8px

.AdminMain-mobileHeader
  display: none


@media (max-width: 1300px)
  .AdminMain
    width: initial
    flex-direction: column
    margin: 16px -1px 0 -1px
    border-radius: 8px 8px 0 0
    border-left-width: 0
    border-right-width: 0

  .AdminMain-sidebar
    display: none
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    width: auto
    overflow-y: auto
    z-index: 10000

  .AdminMain-sidebar-mobileVisible
    display: block

  .AdminMain-sidebar .AdminName-sidebar-server
    border-bottom: 1px solid rgba(0, 0, 0, 0.2)

  .AdminMain-sidebar .AdminName-sidebar-server-expand
    margin-right: 28px

  .AdminName-sidebar-mobileClose
    display: flex
    margin: -16px -28px -16px 0
    width: 64px
    align-self: stretch
    align-items: center
    justify-content: center
    background: rgba(0, 0, 0, 0.1)

  .AdminName-sidebar-mobileClose > svg
    width: 24px
    height: 24px

  .AdminPage
    margin: 32px

  .AdminPage-Title
    display: none

  .AdminMain-mobileHeader
    display: flex
    background: #3B3B3B
    border-bottom: 1px solid #707070
    border-radius: 8px 8px 0 0

  .AdminMain-mobileHeader .AdminName-sidebar-server
    margin-bottom: 0
    border-right: 1px solid #707070
    width: 200px
    border-radius: 8px 0 0 0

  .AdminMain-mobileHeader > nav ul
    padding: 0
    margin: 0

  .AdminMain-mobileHeader > nav li
    display: inline-block
    padding: 0
    margin: 0

  .AdminMain-mobileHeader > nav a
    display: none

  .AdminMain-mobileHeader > nav a.active
    display: block

  .AdminMain-mobileHeader-current
    display: flex
    align-items: center
    flex-grow: 1
    padding: 16px 28px
    font-size: 20px
    font-weight: bold
    cursor: pointer

  .AdminMain-mobileHeader-current .Icon
    width: 32px
    height: 32px
    margin-right: 16px

  .AdminMain-mobileHeader-current-expand
    margin-left: auto

@media (max-width: 1000px)
  .AdminMain-unsavedPopup
    width: initial
    left: 16px
    right: 16px

  .AdminMain-unsavedPopup-container-visible .AdminMain-unsavedPopup
    bottom: 16px

@media (max-width: 580px)
  .AdminMain-mobileHeader
    position: relative

  .AdminMain-mobileHeader .AdminName-sidebar-server
    position: initial
    width: auto

  .AdminName-mobileHeader-serverName
    display: none