.App, .App-topNav
    margin: 0
    padding: 0

$topNavHeight: 65px

.App-topNavContainer
    height: $topNavHeight
    background: #434343
    border-bottom: 1px solid #707070

.App-topNav
    display: flex
    margin: 0 auto
    width: 1300px
    height: $topNavHeight
    line-height: $topNavHeight

.App-topNav h1
    padding: 0
    margin: 0
    display: inline-block
    font-size: 26px
    vertical-align: top

.App-topNav-menu
    padding: 0
    margin: 0 20px
    list-style: none
    display: inline-block
    vertical-align: top
    flex-grow: 1

.App-topNav-menu li
    display: inline-block

.App-topNav-menu a, .App-topNav-login
    display: inline-block
    height: 65px
    box-sizing: border-box
    padding: 0 12px
    margin: 0 4px
    color: #fff
    text-decoration: none
    font-weight: bold
    font-size: 18px

.App-topNav-menu a.active
    color: #22D870
    border-bottom: 2px solid #22D870

.App-contentContainer
    text-align: center

.TopBarUserSection
    position: relative
    display: flex
    align-items: center
    font-weight: bold
    font-size: 18px
    user-select: none
    cursor: pointer
    padding: 0 16px
    outline: none

.TopBarUserSection:hover, .TopBarUserSection-expanded
    background: rgba(0, 0, 0, 0.1)

.TopBarUserSection-avatar
    width: 48px
    height: 48px
    border-radius: 32px
    margin-right: 16px

.TopBarUserSection-expandIcon
    margin-left: 8px

.TopBarUserSection-menu
    background: #2C2C2C
    position: absolute
    right: 0
    top: 100%
    min-width: 200px
    margin: 0
    padding: 4px 0
    list-style: none
    border-radius: 0 0 8px 8px
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5)

.TopBarUserSection-menu li
    margin: 0
    padding: 0

.TopBarUserSection-menu li > a
    display: block
    margin: 0
    padding: 12px 12px
    background: none
    border: none
    outline: none
    color: #fff
    text-decoration: none
    font-weight: bold
    font-size: 18px
    line-height: normal

.TopBarUserSection-menu li > a:hover
    background: rgba(0, 0, 0, 0.1)